@font-face{
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #B2F6F7;
    font-family: "SourceSansPro";
}

#content{
    margin-top: 100px;
}

#comments{
    height: 100px;
}

#preview{
    padding: 20px;
}

.ratings{
    bottom: 0;
    margin-bottom: 0;
}

/* Spacing for top nav bar */
ul.nav.navbar-nav#topnav{
    margin-left: 180px;
}

/* Spacing for bottom foot bar */
ul.nav.navbar-nav#botnav{
    margin-left: 320px;
}

ul.nav.navbar-nav li{
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

ul.nav.navbar-nav li:last-child{
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

ul.nav.navbar-nav > li:hover {
    background-color:  #21BEDE;
}


#main-heading{
    font-weight: bold;
    background-color:  #8CC739;
    margin-right: 20px;
    border: 1px #8CC739;
    padding-left: 25px;
    padding-right: 25px;

}


/*images*/

.image{

    display: inline;
    height: 19px;

}



/*Dropdown*/

#category-drop{
    background-color:  #21BEDE;
}

#category-drop  > li > a:hover{
    background-color: #085DAD;
}

#category-drop  > li > a{
    color: white;
    font-weight: bold;
}


/*Header Navbar*/
#mainnav > ul > li > a {
}



/*Footer*/

footer .navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;


}
footer .navbar {
    min-height:35px !important
}

/* Customize Navbar */

.navbar-default {
    background-color: #085DAD;
    border-color: #21BEDE;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #21BEDE;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #21BEDE;
}
.navbar-default .navbar-toggle {
    border-color: #21BEDE;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #21BEDE;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #21BEDE;
    }
}

