html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#content{
    margin-top: 100px;
}

#comments{
    height: 100px;
}

#preview{
    padding: 20px;
}

.ratings{
    bottom: 0;
}

ul.nav.navbar-nav > li:hover {
    background-color: slategray;
}

footer .navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;


}
footer .navbar {
    min-height:35px !important

}

