@font-face{
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Regular.otf);
}

@font-face{
    font-family: SourceSansPro;
    src:url(fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

/* margin bottom by footer height */
body {
    /*    margin-bottom: 60px; */
    background-color: #B2F6F7;
    font-family: "SourceSansPro";
}

.input-group{
    width: 100%;
}

#content{
    margin-top: 100px;
}

#saveComments{
    height: 100px;
    border-radius: 0px;
/*   height: 50px; */
}

#preview{
    padding: 20px;
}

#search:hover{
    background-color: #085DAD;
}

ul.nav.navbar-nav > li:hover {
    background-color:  #21BEDE;
}

.submit{
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
}

.submit:hover{
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}

.submit:active{
    background: #95d788;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#main-heading{
    font-weight: bold;
    background-color: #8CC739;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;

}

/* center image in modal upon clicking */
#viewModalImage{
   
}

/* images for nav bar & view by */
.image{
    display: inline;
    height: 19px;
}

/* border on nav bar (header & footer) */
ul.nav.navbar-nav li{
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

/* border on last nav bar option */
ul.nav.navbar-nav li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

/* border in login option */
ul.dropdown-menu#registration li:nth-last-child(2){
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

/* indented 'password?' for neatness */
.password-spacing{
    margin-left: 19px;
}

/* caption area under big & small memes */
.caption.big{
    height: 100px;
    position: relative;
}

.rating.pull-left{
    position: absolute;
    bottom: 0;
    right: 5px;
}

h5{
    margin: 0;
    float: left;
    font-weight: bold;
}

.comments.pull-left{
    position: absolute;
    margin-top: 20px;
    word-wrap: break-word;
    width: 235px;
    font-size: 12px;
}

/* login margin fix */
.login{
    padding-left: 10px;
}

.remember-login{
    padding-left: 10px;
}

.submit-login{
    padding-left: 10px;
}

.login-bar{
    padding-bottom: 10px;
    text-align: center;
}

/* center paging navigation */
.paging{
    text-align: center;
}

/* dropdown */
.dropdown-menu{
    background-color:  #21BEDE;
}

.dropdown-menu  > li > a:hover{
    background-color: #085DAD;
}

.dropdown-menu  > li > a{
    color: white;
    font-weight: bold;
}


/* for use in terms&conditions.html */
.table-responsive{
    margin: 100px auto;
    max-width: 768px;
    padding: 10px;
    border: 1px solid;
    overflow-x: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

h1{
    margin-top: 0;
    text-align: center;
    padding: 0 30px 10px;
    border-bottom: 1px solid;
    font-weight: bold;
}

.conditions{
    font-size: 16px;
}

/* footer */

footer{
    padding-top: 70px;
}

footer .navbar.navbar-default{
    border-radius: 0 !important;
    margin: 0;
}

footer .navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}

footer .navbar {
    min-height:35px !important
}

@media (min-width: 1000px){
    footer .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    footer .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    #login-drop > a.dropdown-toggle > span {
        display: inline-flex !important;
    }

    #mainnav > ul > li {
        text-align: right;
    }

    #search > form {
        margin-left: 320px;
    }
}

@media (max-width: 1200px){
    #login-drop > a.dropdown-toggle > span {
        display: none;
    }
}

/* customize nav bar */
.navbar-default {
    background-color: #085DAD;
    border-color: #21BEDE;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #21BEDE;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #21BEDE;
}
.navbar-default .navbar-toggle {
    border-color: #21BEDE;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #21BEDE;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 1000px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #21BEDE;
    }
}

/* customize dialogs */
.modal.custom .modal-dialog {
    width:50%;
    margin:0 auto;
    /*add what you want here*/
}

div.modal-header{
    background-color: #085DAD;
    color: #ffffff;
}

div.modal-footer {
    background-color: #085DAD;
}


/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input,
.yellow-star {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label,
.yellow-star {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:120%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before,
.yellow-star {
    content: '★';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active,
.yellow-star{
    position:relative;
    top:2px;
    left:2px;
}

/* input */
input.form-control{
    border-radius: 0;
}

/* buttons */
.submit{
    background-color:  #8CC739;
    color: white;
}

.cancel{
    background-color: red;
    color: white;
}

/* controls actual meme, not its div container */
.img-thumb-nail{
}

div.thumbnail > div.t_c.mb > div.mask {
    width: 100%;
}

/* image hover-in */
.thumbnail .t_c{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail .t_c img {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

.thumbnail .t_c .mask{

    position: absolute;
    width: 250px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(5,101,186, 0.7);
    overflow: hidden;
    display: inline;
    z-index: 20;
}

.mb img {
    -webkit-transition: all 0.2s linear;
    -mos-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.mb .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";

    opacity: 0;
    background-color: rgba(5,101,186, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mb:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";

    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.t_c .mask a:link{
    text-decoration: none;
    border-style: none;
}

.t_c .mask a img{
    width: 30px;
    height: 30px;
    margin: 3px 3px 0px 0px;
    padding: 2px;
    border-style: none;
    display: inline-block;
}

/* grid tooltips */
a #GVT,a #TVT {
    display: none;
}

a:hover #GVT,
a:hover #TVT {
    position: absolute;
    color: white;
    background-color: rgb(5,101,186);
    border: 1px solid white;
    padding: 5px;
    z-index: 100;
}

.disp_icon {
    text-decoration: none;
    border: none;
}

.disp_icon:hover{
    text-decoration: none;
    border: none;
}

.yellow-star{
    color: #FFD700 !important;
    cursor: default !important;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5) !important;
}

/** social media style **/
.ss-share {
    padding-left: 0;
    list-style: none; }

.ss-share-item {
    display: inline;
    margin-right: 1em; }

.ss-share-link {
    /* crude button styles */
    text-decoration: none;
    color: #444;
    font-weight: bold;
    padding: .5em .75em .5em 35px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px; }
.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus {
    color: #891434; }

[class*="ico-"] {
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px center; }

.ico-facebook {
    background-image: url("http://www.facebook.com/favicon.ico"); }

.ico-twitter {
    background-image: url("http://twitter.com/favicons/favicon.ico"); }

.ico-google {
    background-image: url("https://ssl.gstatic.com/s2/oz/images/faviconr2.ico"); }

noscript{
    font-size: 50px;
    margin-left: 25%;
    font-weight: bold;
}
